# IDEs
.idea/
.vscode/
*.swp
*.swo
.gemini/
skills/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.yarn/

# Java / Maven / Gradle
target/
build/
*.class
*.jar
*.war
*.ear
*.log

# Mobile
.expo/
android/app/build/
ios/Pods/
ios/build/

# OS Files
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
backend/truehand-service-account.json